.navigation {
  display: flex;

  margin: 0 auto 0 auto;
  padding: 0;
}

.navigation__link {
  color: #fff;
  text-align: center;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: 18px;
  text-decoration: none;
  transition: 0.8s;
  margin: 0 18px 0 auto;
  padding: 0;
}

.navigation__link_active {
  font-weight: 500;
}
.navigation__link_inactive {
  font-weight: 400;
}

.navigation__link:last-of-type {
  margin: 0;
}

.navigation__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}
