.notfound {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 250px auto 0 auto;
  padding: 0;
}

.notfound__title {
  max-width: 335px;
  color: #fff;
  text-align: center;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px auto 40px auto;
  padding: 0;
}

.notfound__image {
  max-width: 335px;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  background-color: transparent;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .notfound__title {
    max-width: 280px;
    font-size: 16px;
  }
  .notfound__image {
    max-width: 280px;
  }
}
